<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta tempore est debitis, corporis minima culpa hic illum necessitatibus? Vitae, ducimus distinctio facere placeat nihil delectus beatae odio quis tenetur modi.
        Quam odio a fugiat quis ducimus consectetur est veniam maiores beatae mollitia explicabo, voluptate corporis quidem dignissimos obcaecati sapiente? Harum voluptatem blanditiis, ducimus aspernatur doloremque obcaecati iure fugit perspiciatis earum!</p>
    </div>
</div>