<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero molestias ab obcaecati repellat unde eaque! Eveniet, debitis quia! A nam recusandae maiores dignissimos est ipsum aliquam beatae et, tenetur necessitatibus.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim tempora et libero, nobis pariatur voluptates vitae in facilis repudiandae dolores nam eveniet, iusto aliquam nostrum sint reiciendis. Eligendi, amet modi.Quia reiciendis libero excepturi ea eligendi, repellendus consequuntur voluptatem sint debitis laborum natus, ut neque expedita nihil vel modi dicta officia sed facere. Libero saepe, ipsum ut quidem minima consequuntur?</p>
    <a href="https://github.com/lighnio/nodejs-notesapp" class="btn btn-primary btn-lg">Github Repo</a>
</div>
